
        <div id="PageFour" class="mx-auto w-50 p-5 bg-light ">
        <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 1</div>
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 2</div>
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 3</div>
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 4</div>
        </div>
        <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 5</div>
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 6</div>
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 7</div>
          <div class="h-100 d-inline-block" style="width: 100px; background-color: lightgray;">Day 8</div>
        </div>
        </div>

        <div id="MealProfiles" ">
        <p> wtf is this shit</p>
        <button type="button" class="btn btn-success mt-2" id="LoadDays">LoadDays</button>        
        </div>