<div id="PageOne" class="mx-auto w-50 p-5 bg-light mainblock">
    <p>BMI</p>
            <div class="form-group">
                    <label for="usr">Weight:</label>
                    <input type="text" class="form-control" id="weight">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Height:</label>
                    <input type="text" class="form-control" id="height">
                  </div>
                  <button type="button" class="btn btn-success" id="Submit">Submit</button>
                  
            <p style="margin-top: 10px" id="test1"></p>

                  <div style="margin-top: 10px" class="progress">
                        <div class="progress-bar" style="width:0%"></div> 
                      </div><a style="float:right"> BMI > 25% = Fat</a>

            <p id="BMI"></p>
            <p id="test2"></p>

        </div>